:root {
    --cor-azul-escuro: #132235;
    --cor-azul-neon: #6DDAD3;
    --cor-branco: #FFF;
    --cor-preto:  #000000;
    --cor-cinza: #808080;
}

/*Tamanhos dos titulos: 20px*/
/*Tamanhos dos textos: 15px*/

body {
    font-family: 'Roboto', sans-serif;
}

.centralizar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tamanho-imagem {
    height: 50px;
}

/*header*/ 
.cabecalho {
    background-color: var(--cor-azul-escuro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo-cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.clique-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}

.logo-imagem {
    justify-content: center;
    align-items: center;
    width: 60%;
}

.menu {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    color: var(--cor-branco);
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 20px;
}

/*main*/ 
main {
    padding-top: 100px;
}
/*secao do inicio*/
#inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cor-azul-escuro);
    padding-top: 35px;
    padding-bottom: 15px;
}

.conteudo-inicio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.titulo-conforto {
    font-size: 15px;
    font-weight: bold;
    color: var(--cor-branco);
}

.universitarios {
    height: 280px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.titulo-conforto-caixa {
    display: none;
    font-size: 20px;
    font-weight: bold;
}

.buscar-imovel {
    background-color: var(--cor-branco);
    border: 1.5px solid;
    border-radius: 10px; 
    padding-top: 3px;
    margin: 30px;
}

.painel-buscar-imovel {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 330px;
}

.cidade-caixa {
    font-size: 15px;
}

.campo-cidade {
    font-size: 15px;
    border: 1.5px solid;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bairro-caixa {
    font-size: 15px;
    padding-top: 5px;
    margin-top: 10px;
}

.campo-bairro {
    font-size: 15px;
    border: 1.5px solid;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.valor-caixa {
    font-size: 15px;
    padding-top: 5px;
    margin-top: 10px;
}

.campo-valor {
    font-size: 15px;
    border: 1.5px solid;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pessoas-caixa {
    font-size: 15px;
    padding-top: 5px;
    margin-top: 10px;
}

.campo-pessoas {
    font-size: 15px;
    border: 1.5px solid;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.botao-buscar-imovel {
    background-color: var(--cor-azul-neon); /* Green */
    border: none;
    border-radius: 10px;
    color: var(--cor-azul-escuro);
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    padding: 15px;
}
/*secao dos apartamentos destaques*/
#apartamentos-destaques {
    background-color: var(--cor-branco);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 35px 5px;
}

.apartamentos {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 5px;
}

.apartamento1 {
    display: flex;
    width: 100%;
    padding-top: 15px;
}

.foto-apartamento1 {
    width: 100%;
}

.apartamento2 {
    display: flex;
    width: 100%;
    padding-top: 35px;
}

.foto-apartamento2 {
    width: 100%;
}

.apartamento3 {
    display: flex;
    width: 100%;
    padding-top: 35px;
}

.foto-apartamento3 {
    width: 100%;
}

.titulo-apartamento {
    font-size: 20px;
    font-weight: bold;
}

.apartamento-quadrado-fora {
    border: 1px solid var(--cor-preto);
    border-radius: 10px;
    width: 95%;
}

.detalhes-apartamento {
    width: 100%;
    font-size: 12px;
}

.detalhes-nome {
    white-space: nowrap
}

.local-apartamento {
    font-size: 12px;
    color: var(--cor-cinza);
    margin: 10px;
}

.local-nome {
    min-width: 100px;
    text-align: right;
    white-space: nowrap
}

.detalhe-local-apartamento {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.valor-icone-apartamento {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.valor-apartamento {
    color: var(--cor-azul-neon);
    font-weight: bold;
    white-space: nowrap
}
/*secao quem somos*/
#quem-somos{
    background-color: var(--cor-azul-escuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.titulo-quem-somos {
    font-size: 20px;
    font-weight: bold;
    color: var(--cor-branco);
    padding-top: 35px;
}

.titulo-imagem {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
}

.duvida {
    height: 280px;
}

.icones-duvida{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 55px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.descricao-icones {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: var(--cor-branco);
    gap: 13px;
}

.icone-quem-somos {
    width: 2px;
}

.texto-quem-somos {
    max-width: 236px; 
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}
/*secao fale conosco*/
#fale-conosco {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.titulo-fale-conosco {
    font-size: 20px;
    font-weight: bold;
}

.falar {
    height: 280px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.formulario {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 200px;
    width: 300px;
    background-color: var(--cor-azul-escuro);
    border: 1.5px solid;
    border-radius: 10px;
    color: var(--cor-branco);
}

.email-caixa {
    font-size: 15px;
    margin-top: 10px;
    padding-bottom: 5px;
}

.campo-email {
    font-size: 15px;
    border: 1.5px solid;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mensagem-caixa {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.campo-mensagem {
    font-size: 15px;
    border: 1.5px solid;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.botao-enviar {
    background-color: var(--cor-azul-neon);
    border: none;
    border-radius: 10px;
    color: var(--cor-azul-escuro);
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    padding: 15px;
}
/*footer*/ 
.rodape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--cor-azul-escuro);
    padding-top: 10px;
}

.logo-corp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto-corp {
    font-size: 10px;
    font-weight: bold;
    color: var(--cor-branco);
    padding-top: 40px;
}

.icones-rodape {
    display: flex;
    flex-direction: column;
}

.icones-internos-rodape {
    padding: 20px;
}

/*Tela desktop*/

@media (min-width: 768px) {
    /*header*/
    .cabecalho {
        background-color: var(--cor-azul-escuro);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        width: 100%;
    }

    .logo-cabecalho {
        width: 25%;
    }

    .menu {
        padding: 40px;
        font-size: 18px;
    }
    /*main*/
    main {
        padding-top: 55px;
    }
    /*seção do inicio*/
    /*seção dos apartametnos destaques*/
    /*seção quem somos*/
    /*seção fale conosco*/
    /*footer*/
    
    
}