:root {
    --cor-azul-escuro: #132235;
    --cor-azul-neon: #6DDAD3;
    --cor-azul-neon-escuro: #54ada9;
    --cor-branco: #FFF;
    --cor-preto:  #000000;
    --cor-cinza: #808080;
}

/*Tamanhos dos titulos: 20px*/
/*Tamanhos dos textos: 15px*/
/*Tamanho do mobile: 10px*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
    width: 8px;              
  }
  
  body::-webkit-scrollbar-track {
    background: var(--cor-branco);       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--cor-azul-escuro);   
    border-radius: 20px;       
  }

.centralizar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tamanho-imagem {
    height: 50px;
}

/*header*/ 
.cabecalho {
    background-color: var(--cor-azul-escuro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo-cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.clique-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}

.logo-imagem {
    justify-content: center;
    align-items: center;
    width: 60%;
}

.menu {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    color: var(--cor-branco);
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 20px;
}

/*main*/ 
main {
    padding-top: 100px;
}
/*secao do inicio*/
#inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cor-azul-escuro);
    padding-top: 35px;
    padding-bottom: 15px;
}

.conteudo-inicio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.titulo-conforto {
    font-size: 15px;
    font-weight: bold;
    color: var(--cor-branco);
}

.universitarios {
    height: 280px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.titulo-conforto-caixa {
    display: none;
    font-size: 20px;
    font-weight: bold;
}

.buscar-imovel {
    background-color: var(--cor-branco);
    border: 1.5px solid;
    border-radius: 10px; 
    padding-top: 3px;
    margin: 30px;
}

.painel-buscar-imovel {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 330px;
}

.cidade-caixa {
    font-size: 15px;
}

.campo-cidade {
    font-size: 15px;
    border: 1.5px solid;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.bairro-caixa {
    font-size: 15px;
    padding-top: 5px;
    margin-top: 10px;
}

.campo-bairro {
    font-size: 15px;
    border: 1.5px solid;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.valor-caixa {
    font-size: 15px;
    padding-top: 5px;
    margin-top: 10px;
}

.campo-valor {
    font-size: 15px;
    border: 1.5px solid;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.pessoas-caixa {
    font-size: 15px;
    padding-top: 5px;
    margin-top: 10px;
}

.campo-pessoas {
    font-size: 15px;
    border: 1.5px solid;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.botao-buscar-imovel {
    background-color: var(--cor-azul-neon); /* Green */
    border: none;
    border-radius: 10px;
    color: var(--cor-azul-escuro);
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    padding: 15px;
    transition: 0.5s all;
}

.botao-buscar-imovel:active {
    transform: scale(1.1);
}
/*secao dos apartamentos destaques*/
#apartamentos-destaques {
    background-color: var(--cor-branco);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 35px 5px;
}

.apartamentos {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 5px;
}

.apartamento1 {
    display: flex;
    width: 100%;
    padding-top: 15px;
}

.foto-apartamento1 {
    width: 100%;
}

.apartamento2 {
    display: flex;
    width: 100%;
    padding-top: 35px;
}

.foto-apartamento2 {
    width: 100%;
}

.apartamento3 {
    display: flex;
    width: 100%;
    padding-top: 35px;
}

.foto-apartamento3 {
    width: 100%;
}

.titulo-apartamento {
    font-size: 20px;
    font-weight: bold;
}

.apartamento-quadrado-fora {
    border: 1px transparent var(--cor-cinza);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 95%;
}

.detalhes-apartamento {
    width: 100%;
    font-size: 12px;
}

.detalhes-nome {
    white-space: nowrap
}

.local-apartamento {
    font-size: 12px;
    color: var(--cor-cinza);
    margin: 10px;
}

.local-nome {
    min-width: 100px;
    text-align: right;
    white-space: nowrap
}

.detalhe-local-apartamento {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.valor-icone-apartamento {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.valor-apartamento {
    color: var(--cor-azul-neon);
    font-weight: bold;
    white-space: nowrap
}
/*secao quem somos*/
#quem-somos{
    background-color: var(--cor-azul-escuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.titulo-quem-somos {
    font-size: 20px;
    font-weight: bold;
    color: var(--cor-branco);
    padding-top: 35px;
}

.titulo-imagem {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
}

.duvida {
    height: 280px;
}

.icones-duvida{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 55px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.descricao-icones {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: var(--cor-branco);
    gap: 13px;
}

.icone-quem-somos {
    width: 2px;
}

.texto-quem-somos {
    max-width: 236px; 
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}
/*secao fale conosco*/
#fale-conosco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    margin-top: 35px;
    padding-bottom: 35px;
}

.titulo-fale-conosco {
    font-size: 20px;
    font-weight: bold;
}

.imagem-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 30px;
}

.falar {
    width: 100%;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--cor-azul-escuro);
    border: none;
    border-radius: 10px;
    color: var(--cor-branco);
    padding: 30px 20px;
}

.email-caixa {
    font-size: 15px;
}

.campo-email {
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
}

.campo-email::placeholder {
    padding-left: 10px;
}

.campo-mensagem-fale::placeholder {
    padding-left: 10px;
    font-family: roboto;
    font-size: 15px;
}

.mensagem-caixa {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.campo-mensagem-fale {
    border-radius: 10px;
    padding: 10px;
}

.botao-enviar {
    margin-top: 15px;
    background-color: var(--cor-azul-neon);
    border: none;
    border-radius: 10px;
    color: var(--cor-azul-escuro);
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    transition: 0.5s all;
}

.botao-enviar:active {
    transform: scale(1.1);
}

.escondido {
    display: none;
}

.visivel {
    display: inline;
    color: var(--cor-azul-escuro);
    border: 2px solid var(--cor-azul-neon);
    border-radius: 10px;
    padding: 5px 0;
}
/*footer*/ 
.rodape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--cor-azul-escuro);
    padding-top: 10px;
}

.logo-corp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto-corp {
    font-size: 10px;
    font-weight: bold;
    color: var(--cor-branco);
    padding-top: 40px;
}

.icones-rodape-caixa {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.icones-internos-rodape {
    padding: 20px;  
}

.logo-imagem-footer {
    width: 60%;
}

/*Tela desktop*/
@media (min-width: 768px) {
    /*header*/
    .cabecalho {
        background-color: var(--cor-azul-escuro);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        width: 100%;
        z-index: 5;
    }

    .logo-cabecalho {
        width: 25%;
    }

    .menu {
        padding: 40px;
        font-size: 18px;
    }

    .texto-menu {
        transition: 0.5s all;
    }

    .texto-menu:hover {
        color: var(--cor-azul-neon);
        text-decoration: none;
        transform: scale(1.05);
    }
    /*main*/
    main {
        padding-top: 65px;
    }
    /*seção do inicio*/
    #inicio {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .titulo-conforto {
        display: none;
    }

    .titulo-conforto-caixa {
        display: flex;
        justify-content: center;
        font-size: 18px;
    }

    .universitarios {
        height: 460px;
    }

    .buscar-imovel {
        display: flex;
        display: column;
        justify-content: center;
        align-items: center;
    }

    .painel-buscar-imovel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 400px;
        width: 420px;
        gap: 5px;
    }
    
    .cidade-caixa {
        font-size: 18px;
        padding-top: 25px;
    }
    
    .campo-cidade {
        font-size: 18px;
    }
    
    .bairro-caixa {
        font-size: 18px;
    }
    
    .campo-bairro {
        font-size: 18px;
    }
    
    .valor-caixa {
        font-size: 18px;
    }
    
    .campo-valor {
        font-size: 18px;
    }
    
    .pessoas-caixa {
        font-size: 18px;
    }
    
    .campo-pessoas {
        font-size: 18px;
    }

    .botao-buscar-imovel:hover {
        background-color: var(--cor-azul-neon-escuro);
    }
    /*seção dos apartamentos destaques*/
    #apartamentos-destaques {
        background-color: var(--cor-branco);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 80px;
    }

    .apartamentos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        gap: 10px;
    }

    .apartamento1 {
        padding-top: 0px;
        transition: 0.5s all;
    }

    .apartamento1:hover {
        transform: scale(1.1);
    }

    .apartamento2 {
        padding-top: 0px;
        transition: 0.5s all;
    }

    .apartamento2:hover {
        transform: scale(1.1);
    }

    .apartamento3 {
        padding-top: 0px;
        transition: 0.5s all;
    }

    .apartamento3:hover {
        transform: scale(1.1);
    }

    .titulo-apartamento {
        font-size: 32px;
        padding-bottom: 50px;
    }
    /*seção quem somos*/
    .quem-somos-desktop {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding-bottom: 35px;
    }

    .titulo-quem-somos {
        font-size: 32px;
    }

    .duvida {
        height: 465px;
        width: 480px;
    }

    .icones-duvida {
        gap: 50px;
    }

    .descricao-icones {
        gap: 30px;
    }
    
    .descricao-icones img {
        height: 50%;
    }

    .texto-quem-somos {
        font-size: 18px;
        line-height: 24px;
    }
    /*seção fale conosco*/
    #fale-conosco {
        width: 100%;
        padding: 0px;
    }
    
    .imagem-form {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        align-items: center;
        justify-content: center
    }
    
    .falar {
        width: 45%;
        padding-right: 100px;
    }
    
    .formulario {
        display: flex;
        flex-direction: column;
        width: 30%;
        margin-left: 100px;
    }

    /*footer*/
    .rodape {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 0px;
    }

    .logo-corp {
        flex-direction: row;
        justify-content: space-around;
    }

    .logo-imagem-footer {
        width: 25%;
    }

    .texto-corp {
        padding-left: 225px;
    }

    .icones-rodape-caixa {
        flex-direction: row;
    }

    .icones-rodape {
        transition: 0.5s all;
    }

    .icones-rodape:hover {
        transform: scale(1.1);
    }
}